@page "/Cart"
@using SEPCSTier1.Models
@using SEPCSTier1.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject IShoppingCartData ShoppingCartData
@inject IToastService toastService
@inject IOrderData orderData
@inject IWalletData walletData
@inject IOfferData offerData

@inject ISoldOfferData soldOfferData
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="container-md">
    <div class="row">
        <div class="col">

            <h1 class="m-5 ms-5">Shopping Cart</h1>

            <div class="d-flex justify-content-center">
                <table class="table w-75">
                    <thead>
                    <tr>
                        <th>SaleOfferId</th>
                        <th>ItemID</th>
                        <th>SkinName</th>
                        <th>Price</th>
                    </tr>
                    </thead>


                    <tbody class="text-gray-700">

                    @foreach (var shoppingCart in shoppingCarts)
                    {
                        <tr>
                            <td class="w-1/3 text-left py-3 px-4">@shoppingCart.sale_offer_id</td>
                            <td class="w-1/3 text-left py-3 px-4">@shoppingCart.item_id</td>
                            <td class="w-1/3 text-left py-3 px-4">@shoppingCart.weaponname</td>
                            <td class="w-1/3 text-left py-3 px-4">@shoppingCart.sale_price</td>

                            <td>
                                <button @onclick="@(() => RemoveShoppingCartItem(id,shoppingCart.sale_offer_id))">
                                    <i class="oi oi-trash" style="color:red"/>
                                </button>
                            </td>


                        </tr>
                    }

                    <thead>
                    <tr>
                        <th>Total Price</th>
                        <th></th>
                        <th>@totalPrice €</th>
                    </tr>
                    </thead>

                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end mt-5">
                <button type="button" class="w-25 btn mr-5 btn-lg btn-success" @onclick="buyCart">Complete order</button>
            </div>

        </div>
    </div>
</div>


@code {

    private IList<ShowShoppingCart> shoppingCarts;
    public long id { get; set; }
    public long totalPrice { get; set; }
    public long walletBalance { get; set; }

    protected override async Task OnInitializedAsync()
    {
        shoppingCarts = new List<ShowShoppingCart>();
        
        var protectedBrowserStorageResultId = await ProtectedSessionStore.GetAsync<long>("id");
        id = protectedBrowserStorageResultId.Value;
        if (id != 0)
        {
            shoppingCarts = await ShoppingCartData.GetShoppingCartById(id);
            if(shoppingCarts.Count > 0)
                totalPrice = await ShoppingCartData.GetTotalPrice(id);
            walletBalance = await walletData.SumOfBalance(id);
        }
    }

    public async void buyCart()
    {
        if (walletBalance >= totalPrice)
        {
    //Update wallet lokalt
            walletBalance = walletBalance - totalPrice;
    //Update wallet db
            await walletData.UpdateWallets(new Models.Wallet((int) (walletBalance), id));

            foreach (var cart in shoppingCarts)
            {
    //Lav ordre pr item
                Order o = new Order
                {
    //Walletid og userid er ens altid da de bliver lavet sammen - i stort program ændre det her til noget bedre
                    wallet_buyer_id = id,
                    sale_id = cart.sale_offer_id
                };

    //send ordre
                Console.WriteLine("tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt");
                var addOrder = await orderData.AddOrder(o);
                var resultItemId = await offerData.GetOfferBySaleOfferId(cart.sale_offer_id);
                var orderBySaleId = await orderData.GetOrderBySaleId(cart.sale_offer_id);
                var offerBySaleOfferId = await offerData.GetOfferBySaleOfferId(cart.sale_offer_id);


                SoldOffer soldoffer = new SoldOffer()
                {
                    item_id = resultItemId.item_id,
                    order_id = orderBySaleId.id,
                    sale_price = offerBySaleOfferId.sale_price,
                    seller_wallet_id = offerBySaleOfferId.wallet_id
                };

                Console.WriteLine("" + soldoffer.id + "," + soldoffer.item_id + "," + soldoffer.order_id + "," + soldoffer.sale_price + "," + soldoffer.seller_wallet_id);
                await soldOfferData.AddSoldOffer(soldoffer);


                //Slet saleoffer
                //offerData.

                //Slet Shopping cart
                ShoppingCartData.RemoveShoppingCart(id, cart.sale_offer_id);
            }


            toastService.ShowSuccess("test");
        }
        else
        {
            toastService.ShowError("Du har ikke nok penge på din wallet");
        }
    }


    private async void RemoveShoppingCartItem(long userId, long saleOfferId)
    {
        ShoppingCartData.RemoveShoppingCart(userId,saleOfferId);
        NavigationManager.NavigateTo(NavigationManager.Uri,true);
    }

}